{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Lisa Simpson</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, explicabo. Cumque nisi totam commodi earum dignissimos impedit, soluta laudantium qui corrupti inventore pariatur voluptas minus voluptatibus mollitia vitae neque libero.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/LisaGuay.png" alt="img-thumbnail">
    </div>
</div>


{{> footer }}